In [1]:
# IMPORTMODULECOUNTFROMEND: There are hidden Python commands from the Turtle module in the text. 
# Use them to draw numbers to count words from the end of each page: 
# https://pythonsandbox.com/turtle. 
# 
# The only possible commands are 

# "forward",
# "back", 
# "backward",
# "left",
# "right", 
# "goto",
# "circle", 
# "home". 

# Note "goto" 
# has two parameters, "circle" can have one or two, "home" has none, and the rest have one.

In [2]:
import turtle

In [ ]:
# page 1 
turtle.goto(0, 158)
turtle.right(135)
turtle.forward(60)
turtle.right(45)
turtle.back(50)

In [ ]:
turtle.backward(60)
turtle.goto(1, 70)
turtle.left(90)
turtle.circle(30, 180)

In [ ]:
turtle.right(180)
turtle.circle(100, 150)
turtle.circle(60)

In [ ]:
turtle.forward(50)
turtle.left(90)
turtle.back(50)
turtle.goto(50, 50)
turtle.home()

In [ ]:
turtle.circle(38)
turtle.right(180)
turtle.circle(50)

In [ ]:
turtle.goto(75, 150)
turtle.back(100)

# Other

In [4]:
import pandas as pd

In [53]:
data = """color (1-6)	num dots	main letter	other letters	Edition	orig pos x	orig pos y
5	1	N	aeefghilnrs	6	1	1
4	1	I	AACCEFHIIKLNRSTTTW	14	1	2
1	1	T	AABDDEEFGHILNNNS	2	1	3
2	1	A	BEFHILOSW	6	2	1
4	2	M	BEEFFHILLNNRSTTTUYY	6	2	2
1	2	H	ACEFHIRSY	10	2	3
5	2	A	CEFHILSSTTU	9	3	1
4	3	A	AFFHILOST	12	3	2
6	1	I	AFGHILOSSS	13	3	3
5	3	G	DFGHILOST	9	4	1
4	4	L	EFHILJLLOSY	13	4	2
6	2	E	AEFHIKLNNRST	21	4	3
1	3	E	AFHIORSW	7	5	1
4	5	M	AAACDFHILMOPSTU	3	5	2
5	4	E	AABBBCDFHIRSS	6	5	3
5	5	R	DFHIOORSSW	9	6	1
4	6	E	DFHIKNRSTU	20	6	2
3	1	N	ABEEFGHHIINORRSSSTUW	12	6	3"""

In [54]:
d = list(map(lambda x: x.split('\t'), data.split('\n')))
c = d[0]
df = pd.DataFrame(d[1:], columns=c)

In [55]:
df.sort_values(['color (1-6)', 'num dots'])

,color (1-6),num dots,main letter,other letters,Edition,orig pos x,orig pos y
2,1,1,T,AABDDEEFGHILNNNS,2,1,3
5,1,2,H,ACEFHIRSY,10,2,3
12,1,3,E,AFHIORSW,7,5,1
3,2,1,A,BEFHILOSW,6,2,1
17,3,1,N,ABEEFGHHIINORRSSSTUW,12,6,3
1,4,1,I,AACCEFHIIKLNRSTTTW,14,1,2
4,4,2,M,BEEFFHILLNNRSTTTUYY,6,2,2
7,4,3,A,AFFHILOST,12,3,2
10,4,4,L,EFHILJLLOSY,13,4,2
13,4,5,M,AAACDFHILMOPSTU,3,5,2
16,4,6,E,DFHIKNRSTU,20,6,2
0,5,1,N,aeefghilnrs,6,1,1
6,5,2,A,CEFHILSSTTU,9,3,1
9,5,3,G,DFGHILOST,9,4,1
14,5,4,E,AABBBCDFHIRSS,6,5,3
15,5,5,R,DFHIOORSSW,9,6,1
8,6,1,I,AFGHILOSSS,13,3,3
11,6,2,E,AEFHIKLNNRST,21,4,3

In [ ]:
_ _ _ _ _ _   _ _   _ _ _ _

In [60]:
# Continuous Delivery in Java Learning MySQL and MariaDB

In [56]:
''.join(df.sort_values(['color (1-6)', 'num dots'])['main letter'].tolist())

'THEANIMALMENAGERIE'

In [57]:
df = df.sort_values(['color (1-6)', 'num dots'])

In [59]:
df.sort_values('Edition')

,color (1-6),num dots,main letter,other letters,Edition,orig pos x,orig pos y
5,1,2,H,ACEFHIRSY,10,2,3
7,4,3,A,AFFHILOST,12,3,2
17,3,1,N,ABEEFGHHIINORRSSSTUW,12,6,3
10,4,4,L,EFHILJLLOSY,13,4,2
8,6,1,I,AFGHILOSSS,13,3,3
1,4,1,I,AACCEFHIIKLNRSTTTW,14,1,2
2,1,1,T,AABDDEEFGHILNNNS,2,1,3
16,4,6,E,DFHIKNRSTU,20,6,2
11,6,2,E,AEFHIKLNNRST,21,4,3
13,4,5,M,AAACDFHILMOPSTU,3,5,2
3,2,1,A,BEFHILOSW,6,2,1
0,5,1,N,aeefghilnrs,6,1,1
14,5,4,E,AABBBCDFHIRSS,6,5,3
4,4,2,M,BEEFFHILLNNRSTTTUYY,6,2,2
12,1,3,E,AFHIORSW,7,5,1
6,5,2,A,CEFHILSSTTU,9,3,1
9,5,3,G,DFGHILOST,9,4,1
15,5,5,R,DFHIOORSSW,9,6,1

In [44]:
names = """Banded Angelfish
Crayfish
Oarfish
Blowfish
Whitebar Surgeonfish
Atlantic Wreckfish
Butterfly Blenny Fish
flatfish
Jellyfish
Pacuma Toadfish
Trunk Fish
Angler Fish
Cuttlefish
Goldfish
Scabbardfish
Swordfish
Glassfish
Lanternfish"""
names = names.split('\n')
letters = """AABDDEEFGHILNNNS
ACEFHIRSY
AFHIORSW
BEFHILOSW
ABEEFGHHIINORRSSSTUW
AACCEFHIIKLNRSTTTW
BEEFFHILLNNRSTTTUYY
AFFHILOST
EFHILJLLOSY
AAACDFHILMOPSTU
DFHIKNRSTU
aeefghilnrs
CEFHILSSTTU
DFGHILOST
AABBBCDFHIRSS
DFHIOORSSW
AFGHILOSSS
AEFHIKLNNRST"""
letters = letters.split('\n')

In [45]:
import pandas as pd

In [46]:
from more_itertools import flatten

In [47]:
import copy

In [48]:
def str_diff(a, b):
    a_c = copy.copy(a)
    b_c = copy.copy(b)
    
    output = [] 
    for a_i in a_c:
        if a_i in b_c:
            b_idx = b_c.index(a_i)
            b_c = b_c[:b_idx] + b_c[b_idx + 1:]
        else:
            output.append(a_i)
    return ''.join(output)

In [49]:
t = (pd.concat([
    pd.Series(names).to_frame('name'),
    pd.Series(letters).to_frame('letters')
], axis=1)
 .apply(lambda s: s.str.lower().str.replace(' ', ''))
 .assign(n_l_diff=lambda df: df.apply(lambda x: str_diff(x['letters'], x['name']), axis=1)) 
#  .assign(n_l_diff=lambda df: df.apply(lambda x: list(filter(lambda y: y not in x['letters'], x['name'])), axis=1))
#  .assign(l_n_diff=lambda df: df.apply(lambda x: list(filter(lambda y: y not in x['name'], x['letters'])), axis=1)) 
#  .apply(list)
#  .pipe(lambda s: ''.join(pd.Series(list(flatten(s.tolist())))))
)

In [50]:
t

                   name               letters n_l_diff
0       bandedangelfish      aabddeefghilnnns        n
1              crayfish             acefhirsy        e
2               oarfish              afhiorsw        w
3              blowfish             befhilosw        e
4   whitebarsurgeonfish  abeefghhiinorrssstuw        s
5     atlanticwreckfish    aaccefhiiklnrstttw        t
6   butterflyblennyfish   beeffhillnnrstttuyy        t
7              flatfish             affhilost        o
8             jellyfish           efhiljllosy       lo
9        pacumatoadfish       aaacdfhilmopstu        l
10            trunkfish            dfhiknrstu        d
11           anglerfish           aeefghilnrs        e
12           cuttlefish           cefhilssttu        s
13             goldfish             dfghilost        t
14         scabbardfish         aabbbcdfhirss        b
15            swordfish            dfhioorssw        o
16            glassfish            afghilosss        o
17          lanternfish          aefhiklnnrst        k

In [51]:
''.join(t['n_l_diff'])

'newesttololdestbook'

In [70]:
t = """Continuous Delivery in Java
Practical Machine Learning with H2O
Learning MySQL and MariaDB
Releasing HTML5 Games for Windows 8
Java EE 7 Essentials
Building Hybrid Android Apps with Java and JavaScript
Ethernet Switches
Learning PHP Design Patterns
Programming ASP.NET MVC 4
Drupal for Designers
Node for Front-End Developers
Getting Started with RStudio
Codermetrics
CJKV Information Processing
Programming Amazon Web Services
Learning C# 2005, 2nd Edition
System Performance Tuning, 2nd Edition
Programming Web Services with XML-RPC""".split('\n')

In [71]:
e = """21
10
2
6
13
3
9
12
6
6
20
7
12
6
14
9
9
13""".split('\n')

In [90]:
(pd.DataFrame([t, e]).T
 .assign(n=lambda df: df[0].str.replace(' ', ''))
 .assign(e=lambda df: df[1].astype(int) - 1)
 .assign(c=lambda df: df.apply(lambda x: x['n'][x['e']] if x['e'] < len(x['n']) else '', axis=1))
)#['c'].pipe(lambda s: ''.join(s))

,0,1,n,e,c
0,Continuous Delivery in Java,21,ContinuousDeliveryinJava,20,J
1,Practical Machine Learning with H2O,10,PracticalMachineLearningwithH2O,9,M
2,Learning MySQL and MariaDB,2,LearningMySQLandMariaDB,1,e
3,Releasing HTML5 Games for Windows 8,6,ReleasingHTML5GamesforWindows8,5,s
4,Java EE 7 Essentials,13,JavaEE7Essentials,12,t
5,Building Hybrid Android Apps with Java and Jav...,3,BuildingHybridAndroidAppswithJavaandJavaScript,2,i
6,Ethernet Switches,9,EthernetSwitches,8,S
7,Learning PHP Design Patterns,12,LearningPHPDesignPatterns,11,D
8,Programming ASP.NET MVC 4,6,ProgrammingASP.NETMVC4,5,a
9,Drupal for Designers,6,DrupalforDesigners,5,l
10,Node for Front-End Developers,20,NodeforFront-EndDevelopers,19,e
11,Getting Started with RStudio,7,GettingStartedwithRStudio,6,g
12,Codermetrics,12,Codermetrics,11,s
13,CJKV Information Processing,6,CJKVInformationProcessing,5,n
14,Programming Amazon Web Services,14,ProgrammingAmazonWebServices,13,a
15,"Learning C# 2005, 2nd Edition",9,"LearningC#2005,2ndEdition",8,C
16,"System Performance Tuning, 2nd Edition",9,"SystemPerformanceTuning,2ndEdition",8,r
17,Programming Web Services with XML-RPC,13,ProgrammingWebServiceswithXML-RPC,12,e

In [80]:
'Learning PHP Design Patterns'[12]

' '